<div class="row"> 
  <div class="col parentBox">
  <h2> User </h2>
  <table>
    <tr>
      <th>User Name</th>
      <th class="remove">Remove</th>
    </tr>
    <tr>
      <td>Harry</td>
      <td class="remove">Remove</td>
    </tr>
    <tr>
      <td>Rohan</td>
      <td class="remove" >Remove</td>
    </tr>
  </table>
  </div>

  <div class="col parentBox">
  <h2> Admin </h2>
  <table>
    <tr>
      <th>Admin Name</th>
      <th class="remove">Remove</th>
    </tr>
    <tr>
      <td>Harry</td>
      <td class="remove">Remove</td>
    </tr>
    <tr>
      <td>Rohan</td>
      <td class="remove" >Remove</td>
    </tr>
  </table>
  </div>
</div>

<app-child></app-child>
